<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
  </appSettings>
  <connectionStrings>
    <add name="FeatureSharpDbContext" connectionString="Server=(localdb)\mssqllocaldb;Database=FeatureSharpDb;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>